body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 40px;
}

#SupportHero {
  background-color: #387ed1;
  color: #fff;
}

#SupportHero a {
  color: #fff;
}

#SupportHero input {
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

#SupportHero input:focus {
  outline: none;
}

#SupportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

#SupportWrapper a {
  text-decoration: none;
}

.Support-anchers a {
  margin-right: 1.5rem;
  font-size: 1.2rem;
}

/* login and signup */

.auth-logs input {
  padding: 10px 20px;
  height: 57px;
  width: 60%;
  border: 1px solid #6d6969;
  border-radius: 4px;
  margin-bottom: 20px;
}

.auth-logs input::placeholder {
  color: #aaa;
  font-size: 1.2rem;
  text-align: left !important;
}

a {
  color: #387ed1;
  font-weight: 500;
}

a:hover {
  color: #1c5aa6;
}
